<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>You have successfully created the pdf file ! </h1>
<h2>Personal data</h2>
First name: {{ form.first_name.value }}<br>
Last name: {{ form.last_name.value }}<br>
Date of birth: {{ form.birth.value }}<br>
PESEL: {{ form.pesel.value }}<br>
<h2>Contact</h2>
Email: {{ form.email.value }}<br>
Phone number: {{ form.phone_no.value }}<br>
<h2>Address</h2>
Street: {{ form.street.value }}<br>
City: {{form.city.value }}<br>
ZIP code: {{ form.code.value }}<br>
<h2>File details</h2>
Date {{ time }}<br>
File name: {{ form.file_name.value }}<br><br>
To download a file you will have to provide secret key. Keep it save!<br>
<b> {{key}}</b><br>
<br>
<a href="/" class="btn btn-default">Homepage</a>
</body>
</html>