<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate PDF </title>
</head>
<body>
<form action="/generate/" method="post">

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>

        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}

    {% csrf_token %}
    <h2>Personal data</h2>
    First name: {{ form.first_name }}<br>
    Last name: {{ form.last_name }}<br>
    Date of birth {{form.birth }}<br>
    PESEL: {{ form.pesel }}<br>
    <h2>Contact</h2>
    Email: {{ form.email }}<br>
    Phone number: {{form.phone_no }}<br>
    <h2>Address</h2>
    Street: {{ form.street }}<br>
    City: {{ form.city }}<br>
    ZIP code: {{ form.code }}<br>
    <h2>Name of the file</h2>
    File name: {{ form.file_name }}<br>
    <br>
    <input type="submit" value="Submit" />
    </form>

<br><br>
<h2>Upload CSV file to fill the form</h2>
    <form method="POST" action="/generate/" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="form-group">

    <input type="file" name="csv_file" />
    <input type="submit" value="Upload" />
        </div>
    </form>
<br>
<a href="/" class="btn btn-default">Homepage</a>
</body>
</html>